@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.underlay {
  color: #d8d8d8;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: 30px 30px;
}
h1 {
  font-size: 35px;
  margin-bottom: 0px;
  padding: 8px 0px;
}
p {
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 14px;
}
a {
  color: #fafafa;
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 3px;
  transition: all 0.3s ease;
}
a:hover {
  color: #7444ff;
}

canvas {
  display: block;
  width: 600px;
  height: 600px;
  border: 1px solid #ffffff75;
}

@media (max-width: 700px) {
  canvas {
    display: block;
    width: 100%;
    height: calc(100vw * 1);
  }
}
